.main{
	width: 800px;
	height: 505px;
	background: #80cdc6;
}
.world{
	top:100px;
	width: 790px;
  	z-index:1;
	position: absolute;
}
.water{
	width: 800px;
	top:500px;
	z-index:3;
	position: absolute;
}
.wooden{
	width: 150px;
	top:360px;
  	left:25px;
  	z-index:2;
	position: absolute;
}
.clouds{
	width: 350px;
  	z-index:0;
  	left: 390px;
  	top: -7px;
	position: absolute;
}