.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: relative;
}
.house {
  width: 150px;
  height: 150px;
  background: coral;
  position: relative;
  left:70px;
  top:20px;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
	position: relative;
    left:35px;
	bottom: 280px;
}
.chimney {
  width: 20px;
  height: 60px;
  background: black;
  position: relative;
  left:70px;
  z-index:0;
  bottom: 210px;
}
.door {
   width: 60px;
  height: 90px;
  background: brown;
  position: relative;
  top:210px;
  left:75px;
  z-index:1;
  
}
.window {
  width: 40px;
  height: 40px;
  background: cyan;
  position: relative;
  top:120px;
  left:160px;
  z-index:1;
}